.collapse-title {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  &.is-expanded {
    background-color: #eef9ff;
    .collapse-title__icon {
        background-color: #ffae38;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-right: 15px;
    background-color: #107dc0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
  }
  &__text {
    font-size: 14pt;
  }
}
