.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  &__item {
    &-image {
      margin: 20px;
      border-radius: 10px;
      width: 150px;
      display: block;
    }
  }
}
