.page-container {
  background-color: #fff;
  min-height: 50vh;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}


.photo-enter-active,
.photo-leave-active {
  transition: all 0.4s;
}
.photo-enter-from,
.photo-leave-to {
  opacity: 0;
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
